<h1>Welcome! It's great to have you here!</h1>

<br>
<br>
<br>

<h2> Have you ever thought about coding?</h2>

<br>
<br>
<br>

<h5>Here are some pretty cool advantages:</h5>
<br>

<ol>
  
  <li> It Develops Problem Solving Skills </li><br>

  <li> It Improves Interpersonal Skills </li><br>

  <li> Coding Creates New Career Opportunities </li><br>

</ol>




